@tailwind base;
@tailwind components;
@tailwind utilities;



.form-label{
    @apply text-lg
}

.form-input{
    @apply py-1 px-3
}

div.iti, .iti--show-flags input{
    @apply w-full 
}

.iti__selected-flag{
    background: white !important;
}

.iti__selected-flag:hover{
    background: rgb(240,240,240) !important;
}

.navbar-logo{
    max-width: 120px;
    height: auto;
}